[shclustering]
disabled = false
mgmt_uri = https://{{ inventory_hostname }}:8089
replication_factor = {{shcluster_replication_factor}}
replication_port = {{ shcluster_replication_port }}
conf_deploy_fetch_url = https://{{deployer_uri}}:8089
shcluster_label = {{shcluster_label}}
pass4SymmKey = {{ shcluster_secret }}

[clustering]
mode = searchhead
manager_uri = https://{{ cluster_manager_uri }}:8089
pass4SymmKey = {{ cluster_secret }}